<div class="container">
	
	<div class="field">
		<button class="btn-mg btn btn-primary" routerLink="/movimentacoes-new">Nova Movimentação</button>
	</div>
	
	<table class="table table-hover table-bordered">
		<caption class="tb-caption">Atualizada em: {{data | date: 'dd/MM/yyyy HH:mm:ss'}}</caption>
		<thead>
		<tr>
			<th class="text-center" scope="col">#</th>
			<th class="text-center" scope="col">Data Hora</th>
			<th class="text-center" scope="col">Número da Conta</th>
			<th class="text-center" scope="col">Nome do Correntista</th>
			<th class="text-center" scope="col">Descrição</th>
			<th class="text-center" scope="col">Tipo de Movimentação</th>
			<th class="text-center" scope="col">Valor</th>
			<th class="text-center" scope="col">Ações</th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let movimentacao of movimentacoes; index as i">
			<th class="text-center" scope="row">{{i + 1}}</th>
			<td class="text-center">{{ movimentacao.dataHora | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
			<td class="text-center">{{ movimentacao.numeroContaCorrentista }}</td>
			<td class="text-md-start">{{ movimentacao.nomeDoCorrentista }}</td>
			<td class="text-md-start">{{ movimentacao.descricao }}</td>
			<td class="text-md-start">{{ movimentacao.tipoMovimentacao }}</td>
			<td class="text-md-end" [ngStyle]="{'color':movimentacao.tipoMovimentacao === 'RECEITA' ? 'blue': 'red', 'text-align':'left'}">{{ movimentacao.valor | currency: 'BRL' }}</td>
			<!-- TODO ajustar os links das ações -->
			<td class="text-center"> <a routerLink="/movimentacoes-new">Editar</a> | <a routerLink="/movimentacoes-delete">Excluir</a></td>
		</tr>
		</tbody>
	</table>
</div>
